<transition>
    <div v-show="addFlag" class="control-content flex flex-v">
        <h4 class="app-title">扫描设备</h4>
        <div class="ibeacon-content">
            <div class="info-content">
                <div class="info-item flex flex-ac flex-jcb">
                    <span class="info-disc-span">类型</span>
                    <mt-checklist
                            v-model="selectTypes"
                            :options="scanType">
                    </mt-checklist>
                </div>
                <div class="info-item flex flex-ac flex-jcb">
                    <span class="info-disc-span">通知值(%)</span>
                    <input v-model="notice_threshold" class="form-control">
                </div>
                <div class="info-item flex flex-ac flex-jcb">
                    <span class="info-disc-span">过滤ESP设备</span>
                    <mt-radio
                            v-model="esp_module_filter"
                            :options="scanFilter">
                    </mt-radio>
                </div>
                <div v-show="isShowBle()">
                    <div class="info-item flex flex-ac flex-jcb">
                        <span class="info-disc-span">蓝牙扫描间隔</span>
                        <input v-model="ble_scan_interval" class="form-control">
                    </div>
                    <div class="info-item flex flex-ac flex-jcb">
                        <span class="info-disc-span">蓝牙扫描时间</span>
                        <input v-model="ble_scan_window" class="form-control">
                    </div>
                </div>
                <div class="text-center btn-wrapper">
                    <button type="submit" class="btn margin-top-30 register-btn"
                            @click="setIbeacon">{{$t('confirmBtn')}}</button>
                </div>
            </div>
        </div>
    </div>
</transition>
