
<div class="init-width">
    <transition name="ups">
        <div v-show="addFlag" class="ota-upgrade">
            <div @click="hide" class="mask"></div>
            <div class="upgrade-info command">
                <h3>{{$t('command')}}<span @click="loadSelect" class="upgrade-details">Load</span></h3>
                <div v-show="!commandShow" class="command-wrapper">
                    <div class="command-textarea">
                        <textarea readonly rows="5">{{getCommand}}</textarea>
                    </div>
                    <div class="command-info">
                        <p class="command-p" v-for="(item,index) in requestList">
                            <input @focus="keyFocus(index)" @blur="keyBlur(index)" v-model="item.key" class="property form-control">
                            <input @focus="valueFocus(index)" @blur="valueBlur(index)" v-model="item.value" class="value form-control">
                            <i @click="delVal(index)" class="icon-less"></i>
                        </p>
                    </div>
                    <div class="command-btn">
                        <button @click="addVal" class="btn register-btn add-val">Add new value</button>
                    </div>
                    <div class="command-request">
                        <mt-radio
                                v-model="radioValue"
                                :options="[{label: 'Response', value: 'true'},{label: 'No Response', value: 'false'}]">
                        </mt-radio>
                    </div>
                    <div v-show="resultShow" class="command-result">
                        <p v-for="(item, index) in resultText">
                            {{index + 1}}. {{item}}
                        </p>
                    </div>
                    <div class="result-flex">
                        <button @click="hide" class="btn register-btn retry">{{$t('cancelBtn')}}</button>
                        <button @click="send" class="btn register-btn">{{$t('confirmBtn')}}</button>
                    </div>
                </div>
                <div v-show="commandShow" class="command-select">
                    <mt-radio
                            v-model="selectValue"
                            :options="loadSelectList" @change="checkRadio">
                    </mt-radio>
                </div>
            </div>
        </div>
    </transition>
</div>
