<div class="init-width">
    <transition name="moves">
        <div v-show="flag" class="add-info operate-way">
            <div class="title-info">
                <h4 class="app-title">
                    <span @click="hide"><i class="icon-left back"></i></span>
                    {{$t('pair')}}
                </h4>
                <span v-show="!showEdit" @click="editFun" class="right-top font-16">编辑</span>
                <span v-show="showEdit" @click="cancelFun" class="right-top font-16">取消</span>
            </div>
            <div class="content-info flex-wrapper attr pairList">
                <mt-navbar v-model="selected">
                    <mt-tab-item id="1">A区</mt-tab-item>
                    <mt-tab-item id="2">B区</mt-tab-item>
                    <mt-tab-item id="3">C区</mt-tab-item>
                    <mt-tab-item id="4">D区</mt-tab-item>
                    <mt-tab-item id="5">E区</mt-tab-item>
                </mt-navbar>
                <!-- tab-container -->
                <mt-tab-container v-model="selected">
                    <mt-tab-container-item id="1">
                        <a v-for="n in 50" class="mint-cell mint-field">
                            <div class="mint-cell-wrapper">
                                <div class="mint-cell-title">
                                    <span class="mint-cell-text">4F-A{{n}}</span>
                                </div>
                                <div class="mint-cell-value">
                                    <input type="text" :id="'4F-A-' + n" readonly
                                           :placeholder="showEdit ? $t('macDesc'): '暂无Mac信息'"
                                           :value="getMac('4F-A-' + n)" class="mint-field-core">
                                    <span v-show="showEdit" @click="delPair('4F-A-' + n)" class="scanner">
                                        <i class="icon-cancel-circled"></i></span>
                                    <span v-show="showEdit"  @click="setScanner('4F-A-' + n)" class="scanner">
                                        <i class="icon-scanner"></i></span>
                                </div>
                            </div>
                        </a>
                    </mt-tab-container-item>
                    <mt-tab-container-item id="2">
                        <a v-for="n in 50" class="mint-cell mint-field">
                            <div class="mint-cell-wrapper">
                                <div class="mint-cell-title">
                                    <span class="mint-cell-text">4F-B{{n}}</span>
                                </div>
                                <div class="mint-cell-value">
                                    <input type="text" :id="'4F-B-' + n" readonly
                                           :placeholder="showEdit ? $t('macDesc'): '暂无Mac信息'"
                                           :value="getMac('4F-B-' + n)" class="mint-field-core">
                                    <span v-show="showEdit" @click="delPair('4F-B-' + n)" class="scanner">
                                        <i class="icon-cancel-circled"></i></span>
                                    <span v-show="showEdit"  @click="setScanner('4F-B-' + n)" class="scanner">
                                        <i class="icon-scanner"></i></span>
                                </div>
                            </div>
                        </a>
                    </mt-tab-container-item>
                    <mt-tab-container-item id="3">
                        <a v-for="n in 50" class="mint-cell mint-field">
                            <div class="mint-cell-wrapper">
                                <div class="mint-cell-title">
                                    <span class="mint-cell-text">4F-C{{n}}</span>
                                </div>
                                <div class="mint-cell-value">
                                    <input type="text" :id="'4F-C-' + n" readonly
                                           :placeholder="showEdit ? $t('macDesc'): '暂无Mac信息'"
                                           :value="getMac('4F-C-' + n)" class="mint-field-core">
                                    <span v-show="showEdit" @click="delPair('4F-C-' + n)" class="scanner">
                                        <i class="icon-cancel-circled"></i></span>
                                    <span v-show="showEdit"  @click="setScanner('4F-C-' + n)" class="scanner">
                                        <i class="icon-scanner"></i></span>
                                </div>
                            </div>
                        </a>
                    </mt-tab-container-item>
                    <mt-tab-container-item id="4">
                        <a v-for="n in 50" class="mint-cell mint-field">
                            <div class="mint-cell-wrapper">
                                <div class="mint-cell-title">
                                    <span class="mint-cell-text">4F-D{{n}}</span>
                                </div>
                                <div class="mint-cell-value">
                                    <input type="text" :id="'4F-D-' + n" readonly
                                           :placeholder="showEdit ? $t('macDesc'): '暂无Mac信息'"
                                           :value="getMac('4F-D-' + n)" class="mint-field-core">
                                    <span v-show="showEdit" @click="delPair('4F-D-' + n)" class="scanner">
                                        <i class="icon-cancel-circled"></i></span>
                                    <span v-show="showEdit"  @click="setScanner('4F-D-' + n)" class="scanner">
                                        <i class="icon-scanner"></i></span>
                                </div>
                            </div>
                        </a>
                    </mt-tab-container-item>
                    <mt-tab-container-item id="5">
                        <a v-for="n in 20" class="mint-cell mint-field">
                            <div class="mint-cell-wrapper">
                                <div class="mint-cell-title">
                                    <span class="mint-cell-text">4F-E{{n}}</span>
                                </div>
                                <div class="mint-cell-value">
                                    <input type="text" :id="'4F-E-' + n" readonly
                                           :placeholder="showEdit ? $t('macDesc'): '暂无Mac信息'"
                                           :value="getMac('4F-E-' + n)" class="mint-field-core">
                                    <span v-show="showEdit" @click="delPair('4F-E-' + n)" class="scanner">
                                        <i class="icon-cancel-circled"></i></span>
                                    <span v-show="showEdit"  @click="setScanner('4F-E-' + n)" class="scanner">
                                        <i class="icon-scanner"></i></span>
                                </div>
                            </div>
                        </a>
                    </mt-tab-container-item>
                </mt-tab-container>
            </div>
        </div>
    </transition>

</div>
